nodered2.txt
[{"id":"3dbe7cc9.a363c4","type":"mqtt in","z":"764be578.e2d71c","name":"sensor1","topic":"sensor1","qos":"2","datatype":"auto","broker":"f906d2b7.2cd5d","x":130,"y":160,"wires":[["b75a0b3f.ccf9f8","31454610.dd7efa"]]},{"id":"152649bc.7652e6","type":"mqtt in","z":"764be578.e2d71c","name":"","topic":"sensor2","qos":"2","datatype":"auto","broker":"f906d2b7.2cd5d","x":130,"y":220,"wires":[["4b003e5b.2fa44","6e3a2199.1e29f"]]},{"id":"b75a0b3f.ccf9f8","type":"function","z":"764be578.e2d71c","name":"query insert","func":"py=[msg.payload];\nmsg.topic = \"INSERT INTO data (jenis) VALUES ('\"+py+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["5778191c.d94608"]]},{"id":"6e3a2199.1e29f","type":"function","z":"764be578.e2d71c","name":"query insert","func":"s2=[msg.payload];\nmsg.topic = \"INSERT INTO data (kondisi) VALUES ('\"+s2+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":220,"wires":[["525d2c50.de7524"]]},{"id":"5778191c.d94608","type":"mysql","z":"764be578.e2d71c","mydb":"6fb51b62.4907f4","name":"db","x":590,"y":180,"wires":[[]]},{"id":"31454610.dd7efa","type":"ui_text","z":"764be578.e2d71c","group":"93b0340a.73bcf8","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":310,"y":120,"wires":[]},{"id":"4b003e5b.2fa44","type":"ui_text","z":"764be578.e2d71c","group":"ac932ca1.8068a","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":300,"wires":[]},{"id":"525d2c50.de7524","type":"mysql","z":"764be578.e2d71c","mydb":"6fb51b62.4907f4","name":"db","x":610,"y":260,"wires":[[]]},{"id":"f906d2b7.2cd5d","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6fb51b62.4907f4","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"dbiot","tz":""},{"id":"93b0340a.73bcf8","type":"ui_group","z":"","name":"Material elektrtonik","tab":"f55ded95.08771","disp":true,"width":"6","collapse":false},{"id":"ac932ca1.8068a","type":"ui_group","z":"","name":"ultrasonic","tab":"f55ded95.08771","disp":true,"width":"6","collapse":false},{"id":"f55ded95.08771","type":"ui_tab","z":"","name":"Station","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
